{% extends "schedule/_layouts/logs" %}

{% set schedule = craft.schedule.schedules.getScheduleById(scheduleId) %}
{% if not schedule %}
    {% exit 404 %}
{% endif %}

{% set selectedSubnavItem = 'schedule' %}
{% set title = "Logs for '{name}'"|t('schedule', {name: schedule.name}) %}
{% set crumbs = [
    {
        label: 'Schedules'|t('schedule'),
        url: url('schedule')
    },
    {
        label: schedule,
        url: url('schedule/' ~ schedule.id)
    }
] %}

{% set criteria = {
    scheduleId: scheduleId,
    limit: 50,
    sortOrder: 'logs.id DESC',
} %}

{% set totalLogs = craft.schedule.logs.getTotalLogs(criteria) %}

{% block actionButton %}
    {% if totalLogs %}
        <a id="delete-all" class="btn submit">{{ "Delete logs for '{name}'"|t('schedule', {name: schedule.name}) }}</a>
    {% endif %}
{% endblock %}

{% js %}
    $('#delete-all').click(function() {
        Craft.postActionRequest('schedule/logs/delete-logs-by-schedule-id', {
            scheduleId: {{ schedule.id }}
        }, $.proxy(function(response, textStatus) {
            if (textStatus === 'success') {
                window.location = '{{ url('schedule') }}';
            } else {
                Craft.cp.displayError('{{ 'Delete failed.'|t('schedule') }}')
            }
        }));

        return false;
    });
{% endjs %}
